<h1>Willkommen</h1>
<h2>zu den wieder hergestellen <b>zzeroo.com</b> Archiven</h2>

<div class="normal welcome">
  <p>Hi,<br>
    wir (Pepe und Ich) haben uns die M&uuml;he gemacht und die alten Forumseintr&auml;ge des zweiten zzeroo.com Forums wieder hergestellt.</p>
</div>

<div class="normal section-links">
  <p>Hier gehts zu den bisher wieder hergestellte Bereichen:</p>
  <ul>
    <li><%= link_to "Bereiche (Areas)", areas_path %></li>
    <li><%= link_to "Themas (Topics)", topics_path %></li>
    <li><%= link_to "Postings", postings_path %></li>
    <li><%= link_to "Benutzerübersicht", users_path %></li>
  </ul>
</div>



